.container {
    width: 50%;
    padding: 0.2em;
}
.container.grid {
    width: 50%;
}
.container.list {
    width: 100%;
}

.video {
    display: flex;
    align-items: center;
    transition: transform  250ms ease-in;
    box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
    border: 1px solid lightgray;
    cursor: pointer;
}
.video:hover {
    transform: scale(1.02);
}
.metadata {
    margin-left: 0.2em;
}
.thumbnail {
    width: 40%;
    height: 100%;
}
.title,.channel {
    margin: 0;
    font-size: 0.8rem;
}
.channel {
    font-size: 0.6rem;

}
@media screen and  (max-width: 48rem) {
    .videos {
        flex-direction: column;
    }
    .container.grid {
        width: 100%;
    }
}