.section {
    text-align: center;
    margin: auto;
}

.videoContainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 70%;
}
.video {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    transition: transform ease-in 0.5s ;
}
.video:hover {
    transform: scale(1.2);
}

.thumbnail {
    flex-basis: 30%;
}
.contents {
    flex-basis: 70%;
    padding: 0.2rem;
}
.channelTitle {
    color: grey;
}