.header {
    display: flex;
    background-color: black;
    padding: 0.8em 1em;
    color: white;
    height: 4rem;
}
.logo {
    display: flex;
    align-items: center;
}
.title {
    margin-left: 0.4em;
}
.input {
    width: 100%;
    font-size: 1.2rem;
    outline: 0;
    margin-left: 0.4em;
}
.searchBtn {
    background: darkgray;
    padding : 0.2em 0.6em;
}
.searchBtn:hover {
    cursor: pointer;

}
.btnImg {
    height: 100%;
}