.header {
    display: flex;
    background-color: black;
    color: white;
    height: 5rem;
    padding: 0.8rem 1rem;
}
.logo {
    display: flex;
    align-items: center;
}
.img {
    width: 5rem;
}
.title {
    margin-left: 0.4em;
}
.input {
    width: 100%;
    font-size: 2rem;
    outline: 0;
    margin-left: 0.3em;
}
.button {
    background-color: darkgray;
    padding: 0.4rem 0.2rem;
}
.btnImg {
    height: 100%;
}